.contactPage {
    color: whitesmoke;
    margin: 1rem calc(6rem + 40px) 2rem calc(6rem + 40px);
    
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        h2:hover {
            outline: 1px solid white;
            outline-offset: .5rem;
            border-radius: 5px;
            transition: outline-offset 0.1s ease-in-out;
        }
    }

    &_body {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &_sourcesText a {
            color: antiquewhite;

            &:hover {
                text-decoration: underline;
                color: antiquewhite;
                transition: text-decoration 0.2s ease-in-out;
            }
        }
    }
}