.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 6rem;
  min-height: 100vh;
  
  .title {
    padding: 10px;
    color: #FFC600;
  }

  .subtitle {
    color: whitesmoke;

    &_sol {
      display: inline;
      background: -webkit-linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .code {
    font-weight: 700;
    font-family: var(--font-mono);
  }
  
  .grid {
    padding: 40px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 100%;
  }
  
  .card {
    padding: 2px 2px;
    border-radius: var(--border-radius);
    background: var(--card-rgb);
    border: 1px solid var(--card-border-rgb);
    transition: transform 0.3s ease-in-out, padding 0.1s ease-in-out;

    .image {
      border-radius: var(--border-radius);
      height: 100% !important;
    }
  }
  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    .card:hover {
      padding: 4px 4px;
      transform: scale(1.05);
    }
  }
  
  /* Mobile */
  @media (max-width: 700px) {
    padding: 0;
    .content {
      padding: 4rem;
    }
  
    .grid {
      grid-template-columns: 2fr;
      margin-bottom: 120px;
      max-width: 320px;
      text-align: center;
    }
  
    .card {
      padding: 1rem 2.5rem;
    }
  }
  
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    .grid {
      grid-template-columns: repeat(2, 50%);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}

